################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WahlbergUr/.vs
/WahlbergUr/WahlbergUr/bin/Debug/netcoreapp2.2
/WahlbergUr/WahlbergUr/obj
/WahlbergUr/WahlbergUr/wwwroot/lib/bootstrap
/WahlbergUr/WahlbergUr/wwwroot/lib/jquery
/WahlbergUr/WahlbergUr/wwwroot/lib/jquery-validation
/WahlbergUr/WahlbergUr/wwwroot/lib/jquery-validation-unobtrusive
