@{
    ViewData["Title"] = "Kommunikation";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kommunikation</title>
</head>
<body>
    <h4>@ViewData["Title"]</h4>
    <p>Under konstruktion!</p>
    <p> Välkommen till kommunikationsidan, på den här sidan kommer besökare bland annat kunna kommunicera med butiken</p>
</body>
</html>

