@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Wahlberg Ur</h1>
    <img src="~/images/photo-small.jpg" class="photosmall" width="150" height="100" alt="Write a short description of the image here. It will show if the image is not loaded. Non visual browsers and search engines will also read this text." title="Users will see this text when they roll over this image. Non-visual browsers will read this text to blind users." />
    <p> Wahlberg Ur i Stockholm har funnits i nästan 150 år och har stor erfarenhet av både försäljning av klockor samt reparationer av klockor. 
        Vi har ett stort sortiment av klockor från olika märken i vår butik. 
        Vi står till tjänst med klockservice som t.ex. batteribyte av de allra flesta märkena. Vi använder oss alltid av originaldelar och upp till 2års garanti.
        Enklare reparationer som glasbyte, packningar och krona görs oftast under 24 timmar under förutsättning att reservdelar finns hemma. 
        Vi har ett av Sveriges bästa reservdelsförråd. 
        Vi reparerar även trasiga väggur/pendyler/Golvur och har möjlighet att göra hembesök, ring för att boka en tid.
    </p>
    <img src="~/images/photo-big.jpg" class="photobig" width="488" height="335" alt="Write a short description of the image here. It will show if the image is not loaded. Non visual browsers and search engines will also read this text." title="Users will see this text when they roll over this image. Non-visual browsers will read this text to blind users." />
</div>
