@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Wahlberg Ur</h1>
    <img src="~/images/Small_150x140.png" class="photosmall" width="150" height="140" alt="Klocka utanför Wahlberg Ur" title="Klocka från Wahlberg Ur" />
    <p> Wahlberg Ur i Stockholm har funnits i nästan 150 år och har stor erfarenhet av både försäljning av klockor samt reparationer av klockor. 
        Vi har ett stort sortiment av klockor från olika märken i vår butik. 
        Vi står till tjänst med klockservice som t.ex. batteribyte av de allra flesta märkena. Vi använder oss alltid av originaldelar och upp till 2års garanti.
        Enklare reparationer som glasbyte, packningar och krona görs oftast under 24 timmar under förutsättning att reservdelar finns hemma. 
        Vi har ett av Sveriges bästa reservdelsförråd. 
        Vi är experter på antika klockor av olika slag.
        Vi reparerar även trasiga väggur/pendyler/golvur och har möjlighet att göra hembesök, ring för att boka en tid.
    </p>
    <img src="~/images/Big_404x302.png" class="photobig" width="404" height="302" alt="Bild på Wahlberg Ur i Stockholm" title="Wahlberg Ur i Stockholm" />
</div>
