
@{
    ViewData["Title"] = "Customer";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <h1>Customer</h1>
    <p> New Customer page with shoppingcart, orders, possibilities to change order </p>

</body>
</html>
