@{
    ViewData["Title"] = "Kund";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kund</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>Under konstruktion!</p>
    <p> Välkommen till kundsidan, på den här sidan kommer inloggad kund bland annat kunna se sin beställning</p>
</body>
</html>
