@model WahlbergUr.Models.User

@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div id="registerForm">
        <h4>Registration</h4>
        <form method="post" asp-controller="Customer" asp-action="Register">
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td>Firstname</td>
                    <td><input type="text" name="firstname"></td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td><input type="text" name="lastname"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Register"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
