@model WahlbergUr.Models.Product

@{
    ViewData["Title"] = "Lägga till en Produkt";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lägga till en produkt</title>
</head>
<body>
    <div id="addProduct">
        <h4>@ViewData["Title"]</h4>
        <form method="post" asp-controller="Admin" asp-action="AddProduct">
            <div class="form-group">
                <label asp-for="ProductId"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInformation"></label>
                <input asp-for="ProductInformation" class="form-control" />
                <span asp-validation-for="ProductInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUrlThumb"></label>
                <input asp-for="ProductUrlThumb" class="form-control" />
                <span asp-validation-for="ProductUrlThumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUrlLarge"></label>
                <input asp-for="ProductUrlLarge" class="form-control" />
                <span asp-validation-for="ProductUrlLarge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <button type="submit" class="btn btn-default">Lägg till produkt</button>
            </div>
        </form>
    </div>
</body>
</html>




