@model IEnumerable<WahlbergUr.Models.Product>

@{
    ViewData["Title"] = "Edit Products";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Products</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div id="mainDisplayImageContainer">
        @foreach (var item in Model)
        {
            <div id="imageContainer">
                <a href="@Url.Action("EditProduct", "Admin", new { id = item.ProductId})">
                    <img src="@Url.Content(item.ProductUrl) " height="60" width="50" alt="Image" />
                </a>
            </div>
            <div id=" imageName">
                @Html.DisplayFor(modelItem => item.ProductName)
            </div>
        }
    </div>
</body>
</html>

