
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Product</title>
</head>
<body>
    <div class="mainnav-left">
        <ul>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddProduct">Add Product</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="DeleteProduct">Delete Product</a></li>
        </ul>
    </div>
</body>
</html>

