
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Product</title>
</head>
<body>
    @*<div class="mainnav-container">
            <div class="mainnav-left">*@
                <ul>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddProduct">Add Product</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="EditProducts">Edit Products</a></li>
                </ul>
            @*</div>
        </div>*@
</body>
</html>

