@model IEnumerable<WahlbergUr.Models.EditUser>
@{
    ViewData["Title"] = "Visa kunder";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visa kunder</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div id="mainDisplayContainer">
        @foreach (var item in Model)
        {
        <h3> @Html.DisplayFor(modelItem => item.FirstName)</h3>
        <h3>LastName: @Html.DisplayFor(modelItem => item.LastName)</h3>
        <h3>Username: @Html.DisplayFor(modelItem => item.UserName)</h3>
        }
    </div>
</body>
</html>