<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="description" content="This is a web page for a small clock business in Stockholm" />
    <meta name="keywords" content="Keywords for you web page go here. Each keyword or group of keyword phrases are separated by a comma. Keep this keyword list short and relevant to the content of this specific page and also relevant to the tile of the specific page." />

    <title>@ViewData["Title"] - Wahlberg Ur</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div id="header-container">
            <div id="header-left">
                Wahlberg Ur
            </div>
            <div id="header-right"></div>
        </div>
        <div id="posterphoto"><img src="~/images/poster-photo-man-on-bridge.jpg" width="758" height="188" alt="Write a short description of the image here. It will show if the image is not loaded. Non visual browsers and search engines will also read this text." title="Users will see this text when they roll over this image. Non-visual browsers will read this text to blind users." /></div>
    

        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        @*</li>*@
                    @*</ul>
                </div>
            </div>
        </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">

        <div class="mainnav-container">
            <div class="mainnav-left">
                <ul>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Hem</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ShowProducts">Produkter</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Kund</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Communicate">Kommunikation</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                </ul>
            </div>
            <div class="mainnav-right">
                <ul>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
            <div class="clear"></div>
        </div>
        <!--

    CONTENT

    -->
        <div id="content-container">
            <!--

        SIDE COLUMN

        -->
            <div id="content-side">
                @await Component.InvokeAsync("ShopManager")
                <div class="separator-side-column"></div>
            </div>
            <!--

        MAIN CONTENT AREA

        -->
            <div id="content">
                <a name="maincontent" id="maincontent"></a>
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />

                @RenderBody()
               
            </div>
        </div>
        <!--

    END CONTENT CONTAINER

    -->
        </main>
        </div>

        <div id="footer-container">
            <div id="footer-right"></div>
            <div id="footer-left">
                <p>
                    <span class="small-text">&copy;2019 - Wahlberg Ur</span>
                    <p class="small-text">Design by: </p>
                </p>
            </div>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
            </script>
        </environment>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
